<log4net>
    <root>
        <level value="ALL" />
        <appender-ref ref="file" />
    </root>
    <appender name="file"
    type="log4net.Appender.RollingFileAppender">
        <file value="E:\ACBconGo\bin\AutoUpdate.log" />
        <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
        <datePattern value="yyyy-MM-dd'-AutoUpdate.log'"/>
        <appendToFile value="true" />
        <rollingStyle value="Size" />
        <maxSizeRollBackups value="2" />
        <maximumFileSize value="1MB" />
        <staticLogFileName value="true" />
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
        </layout>
    </appender>
</log4net>